# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js Build Outputs
/.next/
/out/

# Production Standalone Server Layers
/server.js

# Debugging and Process Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local Environment Variables (Keep secrets off GitHub!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System Traces
.DS_Store
Thumbs.db
EOF